.rs_input {border: none; background-color: transparent; outline: none;}
.blue_title {color: #3691d9;}
.red_title {color: #EB5155 !important;}
.cl_white {color: #ffff;}
.w_spance_nrap {white-space: nowrap;}
.orange {color: #ffa317;}
.gray_1 {color: #666666;}
.gray_2 {color: #999999;}
.black {color: #000000;}
.bg_cl_gr {background-color:#666666}
.black_md {color: #474747;}
.bg_w {background-color: #F1F1F1}
.btn_blue-rg {background: #f7f8fc;}
.bg_blue_10 {background-color: #f7f8fc;}
.btn_gray {background-color: #efefef !important;}
.btn_bd_blue {border: 1px solid #3691d9 !important;}
.btn_bd_red {border: 1px solid #EB5155 !important;}
.bd_graye {border: 1px solid  #eeee !important;}
.btn_bd_white {border: 1px solid #ffffff !important;}
.bg_bl {background: #eaf3fb;}
.bt_21 {bottom: 21px !important;}
.mt_6 {margin-top: 6px;}
.mt_67 {margin-top: 67px;}
.mt_17 {margin-top: 17px;}
.mt_13 {margin-top: 13px;}
.mt_18 {margin-top: 18px;}
.mt_37 {margin-top: 37px;}
.mt_12 {margin-top: 12px;}
.mt_21 {margin-top: 21px;}
.mt_23 {margin-top: 23px;}
.mt_26 {margin-top: 26px;}
.mt_27 {margin-top: 27px;}
.mt_9 {margin-top: 9px !important;}
.mt_50 {margin-top: 50px;}
.mt_51 {margin-top: 51px;}
.mt_55 {margin-top: 55px;}
.mt_5 {margin-top: 5px;}
.mt_48 {margin-top: 48px;}
.mt_46 {margin-top: 46px;}
.mt_45 {margin-top: 45px;}
.mt_72 {margin-top: 72px;}
.mt_7 {margin-top: 7px;}
.mt_76 {margin-top: 76px;}
.mt_77 {margin-top: 77px;}
.mt_40 {margin-top: 40px;}
.mt_64 {margin-top: 64px;}
.mt_30 {margin-top: 30px;}
.mt_34 {margin-top: 34px;}
.mt_3 {margin-top: 3px;}
.mt_8 {margin-top: 8px;}
.mr_6 {margin-right: 6px;}
.ml_64 {margin-left: 64px;}
.mr_16 {margin-right: 16px;}
.mr_14 {margin-right: 14px;}
.mr_19 {margin-right: 19px;}
.mr_11 {margin-right: 11px;}
.mt_16 {margin-top: 16px;}
.mt_11 {margin-top: 11px !important;}
.mt_24 {margin-top: 24px;}
.mt_25 {margin-top: 25px;}
.mt_2 {margin-top: 2px;}
.mr_8 {margin-right: 8px;}
.ml_8 {margin-left: 8px;}
.ml_6 {margin-left: 6px;}
.ml_18 {margin-left: 18px;}
.ml_16 {margin-left: 16px;}
.mr_12 {margin-right: 12px;}
.mr_25 {margin-right: 25px;}
.mr_2 {margin-right: 2px;}
.ml_9 {margin-left: 9px;}
.ml_2 {margin-left: 2px;}
.ml_24 {margin-left: 24px;}
.ml_29 {margin-left: 29px;}
.ml_5 {margin-left: 5px;}
.ml_33 {margin-left: 33px;}
.ml_32 {margin-left: 32px;}
.mr_32 { margin-right: 32px;}
.mlr_16 { margin-right: 16px;margin-left: 16px;}
.ml_34 {margin-left: 34px;}
.pd_t_8 {padding-top: 8px;}
.pd_32_16 {padding: 32px 16px;}
.pd_20_46 {padding: 20px 46px;}
.pd_32_64 {padding: 32px 64px;}
.pd_32 {padding: 32px}
.pd_8_27 {padding: 8px 27px;}
.pd_tlr_8_24 {padding-top: 8px;padding-left: 24px; padding-right: 24px}
.pd_b_96 {padding-bottom: 96px;}
.pd_t_12 {padding-top: 12px;}
.pd_t_10 {padding-top: 10px;}
.pd_t_16 {padding-top: 16px;}
.pd_t_67 {padding-top: 67px;}
.pd_t_54 {padding-top: 54px;}
.pd_lr_202 {padding-left:202px; padding-right: 202px}
.pd_tb_11 {padding-top: 11px;padding-bottom: 11px;}
.pd_tb_26_64 {padding-top: 26px;padding-bottom: 64px;}
.pd_tb_51_69 {padding-top: 51px;padding-bottom: 69px;}
.pd_ltr40_b32 {padding: 40px 40px 32px;}
.pd_l_90 {padding-left: 90px;}
.pd_r_0 {padding-right:  0px !important;}
.pd_tb_24 {padding-top: 24px;padding-bottom: 24px;}
.pd_tb_24_27 {padding-top: 24px;padding-bottom: 27px;}
.pd_tb_24_48 {padding-top: 24px;padding-bottom: 48px;}
.pd_tb_24_133 {padding-top: 24px;padding-bottom: 133px;}
.pd_9_16 {padding: 9px 16px;}
.pd_5_16 {padding: 5px 16px;}
.pd_tb_40 {padding-top: 40px;padding-bottom: 40px;}
.pd_t_64 {padding-top: 64px;}
.pd_t_82 {padding-top: 82px;}
.pd_t_3 {padding-top: 3px;}
.flex {display: flex;}
.inline_bl {display: inline-block }
.pd_t_34 {padding-top: 34px !important;}
.pd_11_16 {padding: 11px 16px;}
.pd_11_26 {padding: 11px 26px;}
.pd_t_48 {padding-top: 48px;}
.pd_t_4 {padding-top: 4px;}
.pd_t_45 {padding-top: 45px;}
.pd_t_73 {padding-top: 73px;}
.pd_b_40 {padding-bottom: 40px;}
.pd_b_74 {padding-bottom: 74px;}
.pd_b_6 {padding-bottom: 6px;}
.pd_b_8 {padding-bottom: 8px;}
.pd_b_64 {padding-bottom: 64px;}
.pd_b_98 {padding-bottom: 98px;}
.pd_b_16 {padding-bottom: 16px !important;}
.pd_b_10 {padding-bottom: 10px !important;}
.pd_r_16 {padding-right: 16px;}
.pd_r_24 {padding-right: 24px;}
.pd_r_30 {padding-right: 30px;}
.pd_r_104 {padding-right: 104px;}
.pd_r_8 {padding-right: 8px;}
.p_lr_8 {padding-left: 8px;padding-right: 8px;}
.gp_0 {gap: 0 !important;}
.gap_24 {gap: 24px;}
.color_gray {color: #999999;}
.bg_gray {background-color: #efefef;}
.mw_94 {max-width: 94%;}
.w_fc {width: fit-content;}
.wh_90 {width: 90px;height: 90px;}
.wh_26 {width: 26px;height: 26px;}
.wh_30 {width: 30px;height: 30px;}
.wh_80 {width: 80px !important;height: 80px !important;}
.wh_200 {width: 200px;height: 200px; flex-shrink: 0; border-radius: 8px; overflow: hidden; width: 200px;}
.wh_200 img {width: 100%; height: 100%;}
.fshrink {flex-shrink: 0}
.h_386 {height: 386px;}
.w_40 {width: 40%;}
.w_43pt {width: 43%;}
.w_90pt {width: 90%;}
.w_57pt {width: 57%;}
.w_80 {width: 80%;}
.w_70 {width: 70%;}
.w_50 {width: 50%;}
.w_50_gp50 {width: calc(50% - 50px);}
.w_ip_50_gp12 {width: calc(50% - 12px) !important;}
.w_45 {width: 45%;}
.wh_75_24 {width: 75px;height: 24px;}
.wh_70 {width: 70px;height: 70px;}
.font_w600 {font-weight: 600;}
.font_s36 {font-size: 36px;}
.font_w_blod {font-weight: bold;}
.wb_br {word-break: break-all;}
.wb_wr {word-break: break-word;;}
.text_a_r {text-align: right;}
.w_40_pt {width: 40%;}
.pd_lr_64 {padding-left: 64px;padding-right: 64px;}
.pd_lr_32 {padding-left: 32px;padding-right: 32px;}
.pd_lr_64_80 {padding-left: 64px;padding-right: 80px;}
.pd_lr_16 {padding-left: 16px;padding-right: 16px;}
.pd_lr_19 {padding-left: 19px;padding-right: 19px;}
.pd_lr_21 {padding-left: 21px;padding-right: 21px;}
.pd_tb_24 {padding-top: 24px;padding-bottom: 24px;}
.pd_lr_285 {padding-left: 285px;padding-right: 285px;}
.pd_tb_8 {padding-top: 8px;padding-bottom: 8px;}
.pd_l_24 {padding-left: 24px}
.pd_tb_48_70 {padding-top: 48px;padding-bottom: 70px;}
.pd_tb_48 {padding-top: 48px;padding-bottom: 48px;}
.pd_l_80 {padding-left: 80px;}
.pd_r_80 {padding-right: 80px;}
.pd_l_8 {padding-left: 8px;}
.pd_l_19 {padding-left: 19px;}
.pd_r_17 {padding-right: 17px;}
.pd_lr_16 {padding-left: 16px;padding-right: 16px;}
.pd_19_16 {padding: 19px 16px;}
.pd_4_8 {padding: 4px 8px;}
.pd_40{padding: 40px;}
.pd_4_10 {padding: 4px 10px;}
.pd_ltr_8 {padding-top: 8px;padding-left: 8px;padding-right: 8px;}
.br {border-radius: 8px;}
.medium {font-weight: unset;}
.d_block {display: block;}
.line_h24 {line-height: 24px;}
.line_h20 {line-height: 20px;}
.line_h32 {line-height: 32px;}
.line_h21 {line-height: 21px;}
.line_h28 {line-height: 28px;}
.line_h34 {line-height: 34px;}
.line_h30 {line-height: 30px;}
.line_h36 {line-height: 36px;}
.line_h17 {line-height: 17px;}
.line_h15 {line-height: 15px;}
.line_h16 {line-height: 16px;}
.line_h29 {line-height: 29px;}
.line_h23 {line-height: 23px;}
.line_h35 {line-height: 35px;}
.line_h50 {line-height: 50px;}
.line_h71 {line-height: 71px;}
.line_h70 {line-height: 70px;}
.bg_red_5 {background-color: #FCE8E9;}
.w100 {width: 100%;}
.center_ps {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.center_center {justify-content: center;align-items: center;}
.ellipsis_14 {display: -webkit-box;-webkit-line-clamp: 14;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.ellipsis_2 {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.ellipsis_3 {display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.ellipsis_6 {display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.w_spance_nrap {white-space: nowrap;}
.btn {outline: none;border: none;cursor: pointer;background-color: transparent;}
.btn_blue {background: #3691d9;}
.bg_green_5 {background-color: #E5FFF2;}
.error {color: #EB5155}
.color_red {color: #ff2b22}
.btn-orange {background-color: #ffa317;}
.bd_b_gr {border-bottom: 1px solid #999999;}
.bd-gray1 {border: 1px solid #999999;}
.bd-gray {border: 1px solid #666666;}
.bd-grayc {border: 1px solid #cccccc;}
.bd-b-grayc4 {border-bottom: 1px solid #c4c4c4;}
.bd_b_gray {border-bottom: 1px solid #eeeeee;}
.bg_gray4 {background-color:#EEEEEE}
.bg_white {background-color: #ffffff;}
.bg_blue_5 {background-color: #EAF3FB}
.pd_9_8 {padding: 9px 8px;}
.br_8 {border-radius: 8px;}
.br_50p {border-radius: 50%;}
.br_20 {border-radius: 20px;}
.br_4 {border-radius: 4px;}
.h_full {height: 100%;}
.h_600 {height: 600px;}
.pd_8_16 {padding: 8px 16px;}
.pd_tb_16_10{padding-top: 16px;padding-bottom:10px;}
.line_h59 {line-height: 59px}
.line_h56 {line-height: 56px}
.pd_8 {padding: 8px;}
.pd_l_16 {padding-left: 16px;}
.pd_8_25 {padding: 8px 25px;}
.pd_12_27 {padding: 12px 27px;}
.pd_10_16 {padding: 10px 16px;}
.pd_10_37 {padding: 10px 37px;}
.pd_11_14 {padding: 11px 14px;}
.pd_16 {padding: 16px;}
.pd_16_24 {padding: 16px 24px;}
.pd_12_57 {padding: 12px 57px;}
.pd_12_16 {padding: 12px 16px;}
.pd_r_7 {padding-right: 7px;}
.pd_r_76 {padding-right: 76px;}
.pd_0 {padding: 0 !important;}
.pd_b_93 {padding-bottom: 93px;}
.w_16 {width: 16px;}
.mn_w120 {min-width: 120px;}
.mn_w164 {min-width: 164px;}
.mn_w150 {min-width: 150px;}
.mn_w153 {min-width: 153px;}
.mn_w354 {min-width: 354px;}
.mn_h296 {min-height: 296px;}
.pd_18_8 {padding: 18px 8px}
.w154 {width: 154px;}
.mn_w157 {min-width: 157px;}
.mn_w502 {min-width: 502px;}
.mn_w212 {min-width: 212px;}
.mn_w294 {min-width: 294px;}
.mn_w293 {min-width: 293px;}
.w_167_h40 {width: 167px;height: 40px;}
.br_lb_br_8 {border-radius: 0 0 8px 8px;}
.br_50 {border-radius: 50px;}
.br_t_70 {position: relative;}
.br_t_70::before {content: "";width: 70px;height: 3px;border-radius: 8px;background: #3691d9;display: block;position: absolute;top: 0;left: 0;}
.pd_t_6 {padding-top: 6px;}
.pd_t_20 {padding-top: 20px;}
.pd_t_24 {padding-top: 24px;}
.over_hd {overflow: hidden;}
.user_sl_none {user-select: none;}
.hidden {display: none !important;}
.mx_h492 {max-height: 492px;}
.mx_h250 {max-height: 250px !important;height: 250px;}
.font_s50 {font-size: 50px;}
.font_s17 {font-size: 17px;}
.line_h60 {line-height: 60px;}
.line_28 {line-height: 28px;}
.line_24 {line-height: 24px;}
.line_26 {line-height: 26px;}
.line_h47 {line-height: 47px;}
.line_h14 {line-height: 14px;}
.mr_10 {margin-right: 10px;}
.mt_10 {margin-top: 10px;}
.align_e {align-items: flex-end;}
.align_s {align-items: flex-start;}
.fexdi_row_rev {flex-direction: row-reverse;}
.cl_gray {color: #474747;}
.cl_red {color: #eb5155;}
.cl_btn_gray {color: #666666;}
.cl_gray_1 {color: #999;}
.cl_blue {color: #3691d9;}
.wh_120 {width: 120px;height: 120px;}
.wh_152 {width: 152px;height: 152px;}
.wh_19 {width: 19px;height: 19px;}
.bg_ {background: #f7f8fc;}
.bg_x {background: #ddecf9;}
.pd_lr_80 {padding-left: 80px;padding-right: 80px;}
.pd_lr_8 {padding-left: 8px;padding-right: 8px;}
.pd_20_38 {padding: 20px 38px;}
.pd_20_80 {padding: 20px 80px;}
.pd_24 {padding: 24px;}
.pd_tb24_lr8 {padding: 24px 8px;}
.pd_48_0_56 {padding: 48px 0 56px;}
.pd_t_33 {padding-top: 33px;}
.pd_t_33 {padding-top: 33px;}
.pd_tb_48 {padding-top: 48px;padding-bottom: 48px;}
.pd_t_34 {padding-top: 34px;}
.pd_b_24 {padding-bottom: 24px;}
.pd_b_26 {padding-bottom: 26px;}
.pd_r_15 {padding-right: 15px;}
.pd_l_42 {padding-left: 42px;}
.pd_r_42 {padding-right: 42px;}
.mb_8 {margin-bottom: 8px;}
.mb_6 {margin-bottom: 6px;}
.m_t_a20 {margin-top: -20px;}
.mt_20 {margin-top: 20px;}
.mt_19 {margin-top: 19px;}
.mt_4 {margin-top: 4px;}
.mt_44 {margin-top: 44px;}
.mt_74 {margin-top: 74px;}
.mt_32 {margin-top: 32px;}
.mt_35 {margin-top: 35px;}
.mr_23 {margin-right: 23px;}
.mr_27 {margin-right: 27px;}
.mr_24 {margin-right: 24px;}
.w_30 {width: 30%;}
.w_386 {width: 386px;}
.w_343 {width: 343px;}
.w_25 {width: 25%;}
.w_20 {width: 20%;}
.w_24 {width: 24%;}
.w_75 {width: 75%;}
.w_70 {width: 70%;}
.w_283 {width: 283px;}
.wh_24 {width: 24px;height: 24px;}
.wh_385 {width: 385px;}
.wh_34 {width: 34px;height: 34px;}
.w_282_40 {width: 282px;height: 40px;}
.row_rev {flex-direction: row-reverse;}
.row_rev > .market_right {padding-left: 0; padding-right: 24px;}
.ellipsis_1 {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.elipsis1{overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:1;display:-webkit-box;-webkit-box-orient:vertical}
.btn_sussess {background-color: #00AC57;}
.cl_green {color: #00AC57 !important;}
.cl_oran {color: #FFA317}
.drop_sh_5 {box-shadow: 1px 2px 10px 0px #2020201A;}
/* ---custom scrollbar---------------------- */
/* -->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
.slick-dots {display: flex !important;align-items: center;justify-content: center;}
.slick-dots li {display: flex;align-items: center;justify-content: center;border-radius: 10px;width: 12px !important;height: 12px !important;font-size: 0;}
.slick-dots li button {width: 12px !important;height: 12px !important;position: relative;border: 1px solid #3691d9 !important;border-radius: 10px;}
.slick-dots li.slick-active button::before {background-color: #3691d9;}
.slick-dots li button:before {content: "" !important;height: 80% !important;width: 80% !important;border-radius: 8px;position: absolute;left: 50% !important;top: 50% !important;transform: translate(-50%, -50%);}
.slick-dotted.slick-slider {margin-bottom: 0 !important;}
:is(.project_slider, .news_right-list, .slider_js, .areas_list-sr, .list_selectm, .select_header-list,.slider_news) .slick-arrow {z-index: 9;width: 40px;height: 40px;border-radius: 50px;border: 1px solid #ffffff;background: rgba(204, 204, 204, 0.7);}
.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover {background: rgba(204, 204, 204, 0.7) !important;}
.project_slider .slick-prev {left: 70px;}
.project_slider .slick-next {right: 65px;}
.project_slider .slick-dots {left: 0;right: 0;}
.slick-next:before,.slick-prev:before {content: " " !important;}
.w438_265 {width: 438px;height: 265px;}
.w421_46 {width: 421px;height: 46px;}
.w219_318 {width: 219px;height: 318px;}
.w410_313 {width: 410px;height: 313px;}
.wh_20 {width: 20px;height: 20px;}
.wb_ba {word-break: break-all;}
.mn_w169 {min-width: 169px;}
.mn_w180 {min-width: 180px;}
.mn_w187 {min-width: 187px;}
.mn_w123 {min-width: 123px;}
.mn_w125 {min-width: 125px;}
.mn_w250 {min-width: 250px;}
.mn_w506 {min-width: 506px;}
.mx_w181 {max-width: 181px;}
.mx_w80 {max-width: 80%;}
.rs_bgIm {background-repeat: no-repeat;background-size:100% 100%}
.bg_postionRight {background-position: right;}
.bg_sContain {background-size: contain;}
.h_40 {height: 40px;}
.h_60 {height: 60px;}
.mx_w169 {max-width: 169px;}
.w_full {width: 100% !important;}
.img_full {width: 100%; height: 100%; display: block;}
.w_full > img {width: 100% !important;}
.pd_10_16 {padding: 10px 16px;}
.max_h_234 {height: 234px;max-height: 234px;flex-shrink: 0;}
.max_h_260 {height: 260px;max-height: 260px;flex-shrink: 0;}
.max_h_388 {height:388px; flex-shrink: 0; max-height: 388px;}
.estate_item.flex_column {padding: 0;}
.tl_w_100 > .title { width: 100%;}
.btn_active_bl {background: #3691d9;}
.btn_active_bl_w {color: white;}
.btn_error {background-color: #EB5155;}
.btn_warning {background-color: #FFA317;}
.btn_infor {background: #3691d9;}
.pd_tb_48_40 {padding-top: 48px;padding-bottom: 40px;}
.item_wh_283_70 > div {width: 283px !important;height: 170px;}
.gp_24 {gap: 24px;}
.w_60 {width: 60%;}
.w_695 {width: 695px;flex-shrink: 0; overflow: hidden; border-radius: 8px}
.w_695 > img {width: 100%; height: 100%;}
.pd_tb_48_62 {padding-top: 48px;padding-bottom: 62px;}
.flex_1 {flex: 1;}
.w_157_40 {width: 157px;height: 40px;}
.bd_cl47 {border: 1px solid #474747}
.bd_b_cl47 {border-bottom: 1px solid #474747}
/* ------------------ */

/* .row-4_mg_24,
.row-3_mg_24 {
  margin-left: -12px;
  margin-right: -12px;
}

.row-4_mg_24 > div {
  width: calc(25% - 24px);
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

.row-3_mg_24 > div {
  width: calc(100% / 3 - 24px);
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 12px;
} */

.btn_active_bl {transition: all 0.9s ease;}
.drop_sh {box-shadow: 1px 2px 10px 0px rgba(32, 32, 32, 0.1);}
/* ---------------- */
.row {margin-left: -12px;margin-right: -12px;}
.col_2 {width: calc(50% - 24px);margin-left: 12px;margin-right: 12px;margin-top: 24px;}
.col_3 {width: calc(33.333333% - 24px);margin-left: 12px;margin-right: 12px;margin-top: 24px;}
.col_4 {width: calc(25% - 24px);margin-left: 12px;margin-right: 12px;margin-top: 24px;}
.col_5 {width: calc(20% - 24px);margin-left: 12px;margin-right: 12px;margin-top: 24px;}
.col_1 {width: calc(100%);margin-top: 24px;}
.row > :is(.col_2):is(:first-child, :nth-child(2)) {margin-top: 0;}
.col_1:first-child,.row > .col_1:first-child {margin-top: 0;}
.row > .col_3:is(:first-child, :nth-child(2), :nth-child(3)) {margin-top: 0;}
.row > .col_4:is(:first-child, :nth-child(2), :nth-child(3), :nth-child(4)) {margin-top: 0;}
.row > .col_5:is(:first-child, :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5)) {margin-top: 0;}
.col_t6 {width: calc(16.6666% - 24px); margin-left: 12px;margin-right: 12px; margin-top: 24px}
/* dưng layout bằng gird */
.d_grid {display: grid;}
.grid_col_6_185 {grid-template-columns: repeat(6, 185px);}
.grid_row_3_113 {grid-template-rows: repeat(3, 113px);}
.gd_gp_18 {grid-gap: 18px;}
.pd_tb_32_28 {padding-top: 32px;padding-bottom: 28px;}
.pd_tb_32 {padding-top: 32px;padding-bottom: 32px;}
/*-------------------------------------------------------*/
@font-face {font-family: RacingSansOne;font-display: swap;src: url(../fonts/RacingSansOne-Regular.ttf) format("woff2");}
/* select */
.select_header {box-shadow: 1px 2px 10px 0px rgba(32, 32, 32, 0.1);}
.w181_h40 {width: 181px !important;height: 40px;}
.w143_h40 {width: 143px !important;height: 40px;}
.w110_h40 {width: 110px !important;height: 40px;}
.directional > div > :is(a, span) {color: #666666;}
.directional .directional_acitve > :is(a, span) {color: #3691d9;}
.directional > .arrow {margin-left: 8px;margin-right: 7px;}
.select2-container--default .select2-selection--single {height: 100%;border-radius: 8px;display: flex;align-items: center;}
.select2-container {height: 100%;}
.select2-container--default .select2-selection--single .select2-selection__arrow {top: 50%;transform: translateY(-50%);}
.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #999 transparent transparent transparent;}
.select2-container .select2-selection--single .select2-selection__rendered {display: block;padding-left: 16px;padding-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.select2-container--default .select2-selection--single .select2-selection__arrow {right: 12px;}
.select_header-list .slick-track > div {margin-left: 4px;margin-right: 4px;}
/* slider */
.select_header-list .slick-prev {left: -38px;}
.select_header-list .slick-next {right: -43px;}
.control_infor > div {height: 60px;}
.control_infor > div > span {font-size: 16px;line-height: 19px;font-weight: 400;display: block;margin-left: 16px;margin-right: 16px;position: relative;}
.control_infor > div > span.active {font-weight: 500;color: #3691d9;}
.control_infor > div > span.active::before {content: "";display: block;width: 100%;height: 2px;border-radius: 8px;position: absolute;left: 0;bottom: -8px;background-color: currentColor;}
.infor_details > div > span {display: block;font-size: 16px;line-height: 24px;font-weight: 400;}
.infor_details > div > span > .dynamic {font-weight: 500;color: #3691d9;}
.infor_details > div > span > span {margin-left: 8px;display: inline-block;}
.infor_details > div > span + span {margin-top: 16px;}
.control_infor > div > span:not(.active) {color:#999999}
.w_181_h40 {width: 181px;height: 40px;}
.w_188_h40 {width: 188px;height: 40px;}
.w_188 {width: 188px;}
.share_to > div > div {width: 30px;height: 30px;overflow: hidden;border-radius: 50%;}
.share_to > div > div > img {width: 100%;display: block;height: 100%;border-radius: 50%;}
.share_to > div > div + div {margin-left: 24px;}
.picker > .color {width: 14px; height: 14px; display: inline-block; border-radius: 50%; margin-right:8px}
.picker + .picker {margin-left: 8px}
.function > span:not(.time_comment) {cursor: pointer;}
/* --- */
.item_img {border-radius: 8px;max-height: 242px;flex-shrink: 0;width: 100%;cursor: pointer;overflow: hidden;transition: all 0.4s ease;}
.item_img > img {border-radius: 8px;width: 100%;height: 100%;display: block;}
.im_thumbnail , .im_thumbnail > img{border-radius: 8px;}
/* -------------- */
.item-btn-lick-icon:hover svg rect:first-child {fill: #3691D9;}
.item-btn-lick-icon:hover svg g path:first-child {fill: #2DAAE1;}
.icon_facebook:hover svg path:first-child {fill: #1877F2;}
.icon_mess:hover svg stop:first-child {stop-color: #0099FF;}
.icon_mess:hover svg stop:nth-child(2) {stop-color: #A033FF;}
.icon_mess:hover svg stop:nth-child(3) {stop-color: #FF5280;}
.icon_mess:hover svg stop:nth-child(4) {stop-color: #FF7061;}
.item-btn-title {position: relative;display: flex;bottom: 0;white-space: nowrap;}
.du_an_menuC2 {z-index: 9999;}
.index_right-heading > div {width: 24px;height: 24px;margin-right: 3px;}
.index_right-heading > div > img {width: 100%;height: 100%;display: block;}
.item_index ul ul{padding-left: 8px;}
.index_right {padding: 16px 15px 24px 18px;}
.item_index .active {color: #3691d9;}
.item_index > ul + ul {margin-top: 8px;}
.item_index > ul ul {margin-top: 8px;}
.item_index ul > li {font-size: 16px;line-height: 22px;font-weight: 400;color: #474747;}
.mt_a101 {margin-top: -101px}
.pagination span {cursor: pointer;;color: #666666;float: left;padding: 7px 11px;text-decoration: none;font-size: 16px;background: #ffffff;border: 1px solid #cccccc;border-radius: 4px;transition: 0.3s; display: flex;align-items: center;justify-content: center}
.pagination span + span {margin-left: 16px;}
.pagination span.active {background-color: #3691d9;color: white;border-radius: 4px;border: 1px solid #3691d9;}
.pagination span:hover:not(.active) {background-color: #ddd;}
.mt_14 {margin-top: 14px}
.bg_cl {background-color:#cccccc}
.btn_br_blue {border: 1px solid #3691d9;}
.cursor_d {cursor: default;}
.fshrink{flex-shrink: 0;}
.btn_infor1 {background-color: #2376B8}
.drop_sd_blue {box-shadow: 2px 2px 10px 0px #3691D926;}
/* --------------------- */
.khoi_btn_add_con {position: absolute;top: 40px;overflow: hidden;background-color: #fff;border-radius: 10px;z-index: 301;filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));}
.khoi_btn_add_con p {width: 100%;}
.btn_add_con {width: 100%;height: 40px;text-decoration: none;border: none;outline: none;color: #474747;font-size: 14px;display: flex;align-items: center;padding: 0 15px;}
.box_main_table_list::-webkit-scrollbar,
.khoi_bang::-webkit-scrollbar,
.khoi_bang_tt_thanh_toan .khoi_thongtin::-webkit-scrollbar,
.form_kh_infor::-webkit-scrollbar,
.main_details_step_mission::-webkit-scrollbar,
.box_main .col_l::-webkit-scrollbar,
.select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar {
  border-radius: 5px;
  width: 8px;
  height: 8px;
}
.bg_tb {background-color: #d4e8f7;}
.box_main_table_list::-webkit-scrollbar-thumb,
.khoi_bang::-webkit-scrollbar-thumb,
.khoi_bang_tt_thanh_toan .khoi_thongtin::-webkit-scrollbar-thumb,
.form_kh_infor::-webkit-scrollbar-thumb,
.main_details_step_mission::-webkit-scrollbar-thumb,
.box_main .col_l::-webkit-scrollbar-thumb,
.select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 5px;
}
.box_main_table_list::-webkit-scrollbar-track,
.khoi_bang::-webkit-scrollbar-track,
.khoi_bang_tt_thanh_toan .khoi_thongtin::-webkit-scrollbar-track,
.form_kh_infor::-webkit-scrollbar-track,
.main_details_step_mission::-webkit-scrollbar-track,
.box_main .col_l::-webkit-scrollbar-track,
.select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}
table.table {width: 100%;border-collapse: collapse;border-radius: 8px 8px 0 0;background: #ffffff;}
table.table thead tr th {background: #4c5bd4;color: #ffffff;position: relative;text-align: center;padding: 16px;font-weight: 500;white-space: nowrap;height: 50px;}
.box_main_table_list {width: 100%;overflow-x: auto;border-radius: 8px 8px 0px 0px;border: 1px solid #cccccc;}
.table_function {position: relative;text-align: center;}
.box_main_table_function {overflow: hidden;background: #fff;border-radius: 0 15px 0 0;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);position: absolute;right: -1px;top: -1px;}
.table_function thead tr th {background: #4c5bd4;color: #ffffff;font-weight: 500 !important;padding: 16px;font-weight: 500;white-space: nowrap;}
table.table tbody tr td {height: 50px;position: relative;text-align: center;font-size: 14px;line-height: 16px;padding: 0px 27px;white-space: nowrap;}
table.table_function tbody tr td {height: 48.5px;padding: 0 10px;background: #ffffff;}
table.table thead tr th .span_thead::before {content: "";width: 1px;background: #ffffff;height: 100%;position: absolute;right: 0px;top: 0;}
table.table tbody tr td .span_tbody::before {content: ""; width: 1px;background: #cccccc;height: 80%;position: absolute;right: 0px;top: 10%;}
table tbody tr:last-child {border-bottom: 0;}
.sidebar-left-logo-special,.d_none {display: none;}
#page_ban_hang_tt .sidebar-left {display: none;}
#page_ban_hang_tt .sidebar-left-logo-special {display: flex;width: 280px;}
table thead tr th.table_chuc_nang2 {width: 108px !important;}
table thead tr th.box_input {width: 220px !important;}
.result_table {width: 100%;display: flex;justify-content: flex-end;align-items: center;right: 0;bottom: 0;}
table.table tbody tr td {font-size: 14px;line-height: 20px;font-weight: 400;text-align: center;}
.result_table > span {padding: 10px 15px;font-size: 16px;line-height: 20px;text-align: center;font-weight: 500;}
.cl_ch_blue > :is(span, div, th) {color: #3691d9 !important;}
table.table thead tr th {background: transparent !important;}
.bd_tb {border: 1px solid #cccccc;}
.footer_sub img{width: unset; height: unset;}
.pagination span > img {width: auto; height: auto}
.font_sitalic {font-style: italic;}
.txt_center {text-align: center;}
.txt_jusify {text-align: justify;}
.pd_11_16 {padding: 11px 16px}
.w_188_40 {min-width: 188px; height: 40px}
.wh_129 {width: 129px; height: 129px;}
.br_l_0 {border-top-left-radius: 0;}
.scrollbar_y {overflow-y: auto;overflow-x: hidden;}
.br_ltr_8 {border-radius: 8px 8px 0px 0px;}
.h_700 {height: 700px}
.br_lbr_8 {border-radius: 0px 0px 8px 8px;}


/* ------------------------------------DUY THÊM-------------------------------------- */
.link_header{margin-bottom: 120px;}
.ctti_duy_12{background-color: #FFF}
.list_btn .btn{color: #FFF;}
.icon{width: 21px;height: 20px;}
.ctti_duy_29_375 .icon{width: 14px; height: 16px;}
span.mt_16.block.font_s30.line_h35.font_w500 {display: flex;}
.content_item .ct_it_img{width: 24px;height: 24px;}
.duy_them_1a .slick-prev {width: 40px;height: 40px;z-index: 1;border-radius: 50%;}
.duy_them_1a .slick-next {width: 40px;height: 40px;z-index: 1;border-radius: 50%;}
.duy_them_div1{display: flex;width: 70%;justify-content: space-between;}
.recent_item.d_flex.align_c.bg_white{border-radius: 8px;}
.duy_link_footer{display: none;}

/* CẮT DS PHÒNG ĐẸP */
.select_header-list > div+div{margin-left: 4px;margin-right: 4px;}
.select_header-list > div:first-child {margin-right: 4px;}
.duy_container{padding: 24px 80px 64px;}
.duy_them_class_whimg {width: 5px;height: 10px;}  
.duy_fonz14{font-size: 14px;}
.duy_mb8px{margin-bottom: 8px;}
.duy_mb16px{margin-bottom: 16px;}
.duy_mb18px{margin-bottom: 18px;}
.duy_mb24px{margin-bottom: 24px;}
.duy_images_sub{display: flex; flex-wrap: wrap;}
.duy_images_sub-div{width: 49%;height: 391px; margin: 0 2% 24px 0; position: relative;}
.duy_images_sub-div:nth-child(even){margin-right: unset; }

/* CLICK IMG lưu - tim */
.duy_luu svg path{fill: #FFA317;}
.duy_tim svg path{stroke: #EB5155;}
/* -------------------------------- */
.duy_images_sub_abs {position: absolute;top: 0;right: 0;left: 0;bottom: 0; opacity: 0;}
.duy_images_sub-div:hover .duy_images_sub_abs{opacity: 1; transition: .4s ease-in;}
.duy_images_sub_abs_bg_overlay{position: absolute; top: 0;left: 0;right: 0;bottom: 0; background: rgba(0, 0, 0, 0.4);}
.duy_images_sub_abs_view{display: flex; align-items: center; position: absolute; top: 0; margin-top: 17px;margin-left: 16px; left: 0;}
.duy_images_sub_abs_view_img{width: 20px;height: 20px;}
.duy_images_sub_abs_view_text{color: #FFF; font-size: 14px;margin-left: 8px;}
.icon_chuc_nang{position: absolute; top: 0;right: 0; margin-top: 16px;margin-right: 16px;}
.icon_chuc_nang_img{width: 24px;height: 24px; margin-bottom: 16px; cursor: pointer;}
.abs_info_and_star{position: absolute;bottom: 0; left: 0;}
.abs_info_and_star_info{display: flex; align-items: center; margin-left: 16px;margin-bottom: 16px;}
.abs_info_and_star_info_img{width: 30px;height: 30px;}
.abs_info_and_star_info_img img{border-radius: 50%;}
.abs_info_and_star_info_text{line-height: 24px;color: #FFF; margin-left: 8px;}
.abs_info_and_star_sao{display: flex; align-items: center; position: absolute; bottom: 0;right: 0; margin-right: 16px;margin-bottom: 24px;}
.abs_info_and_star_sao_img{width: 14px;height: 14px; margin-left: 4px;}
.duy_them_class1_file_new{display: none;}
.them_div_480_suv{display: none;}


@media (min-width:1520px){
  .ctti_duy_1{width: 462px;}
  /* DANH SÁCH PHÒNG ĐẸP */
  .index_infor.mt_64.d_flex.align_s.duy_them_class10{width: 100%;}
  .index_right.br_8.drop_sh.bg_white.w_386.duy_them_class10_1 {width: 32.14%;}
  
}
@media (max-width:1024px){
  .link_header{margin-bottom: 60px;}
  .ctti_duy_2{padding: 0 32px;}
  .ctti_duy_3{padding: 32px;}
  .ctti_duy_4{display: block;}
  .ctti_duy_4 .skill_bottom-right{padding-right: unset; margin-left: unset;}
  .skill_bottom-left.w_60.h_513.ctti_duy_5{width: 100%;}
  .skill_top.d_flex.ctti_duy_5{width: 719px;}
  span.font_s16.font_w500.line_h29{font-size: 14px;}
  .ctti_duy_5{justify-content: space-between;}
  .ctti_duy_5 .btn{width: 18.9%;}
  .ctti_duy_6{width: 100%;}
  .ctti_duy_7{width: 100%;}
  .ctti_duy_8{justify-content: space-between;}
  .ctti_duy_8 .btn{width: 25.32%; font-size: 14px;}
  .ctti_duy_9 span{font-size: 14px;}
  .ctti_duy_10{height: 296px !important;}
  .link_list.pd_lr_16.mt_24.d_flex{margin-top: 32px; padding: 0;background: unset;}
  .ctti_duy_11{display: none;}
  .ctti_duy_12{background: #FFF;margin-right: 16px; height: 510px;}
  .ctti_duy_12:last-child{margin-right: unset;}
  .ctti_duy_13{padding: 45px 32px;}
  .ctti_duy_14{padding: 48px 32px 45px;}
  .row.d_flex.flex_w .estate_item.flex_column.col_3{width: 48%; margin: 0 1.63% 16px 0px}
  .row.d_flex.flex_w .estate_item.flex_column.col_3:nth-child(even){margin-right: unset;}
  .estate_item_ct-title{font-size: 16px;}
  span.font_s16.medium.ml_10.ellipsis_2.line_h22.font_w500, span.font_s16.medium.ml_10.wb_br.ellipsis_2, span.font_s16.orange.ml_10.wb_br.ellipsis_2, span.name.font_s16.ml_8{font-size: 14px;}
  .ctti_duy_15{padding: 48px 24px;}
  .ctti_duy_16{width: 100% !important;}
  .ctti_duy_17{margin-left: unset;}
  .ctti_duy_17 .ctti_duy_18{margin: 0 8px 16px; width: 228px !important; height: 139px; }
  .ctti_duy_19_768{width: 100%;}
  .ctti_duy_20_768{width: 37%;}
  .ctti_duy_21_768{width: 61%;}
  .ctti_duy_scroll, .header_school.active_tl.ctti_duy_7{overflow-x: scroll;}
  .school_scroll.d_flex.ctti_duy_8{width: 719px;}
  .areas_list-gd_duy_fig1024{width: unset; margin: 0; padding-left: 0; grid-gap: 8px !important;}

  /* BẤT ĐỘNG SẢN GẦN ĐÂY */
  .recent_item .content{padding: 0 0 0 8px !important;}
  .container  .duy_them_1b{width: 27%;}
  .duy_them_0a{width: 73%;}
  .recent_item .duy_them_1c{width: 80px; height: 80px;}
  .content .duy_them_1d{display: block; margin-top: 4px;}
  .duy_them_div1{width: 100%;}

  /* DANH SÁCH PHÒNG ĐẸP */
  .duy_images_sub_abs{opacity: 1 !important;}
  .duy_images_sub_abs_bg_overlay{display: none;}
  .duy_images_sub_abs_view{margin-top: 8px;margin-left: 8px;}
  .abs_info_and_star_sao{bottom: unset;right: unset; top: 0;left: 0; margin-top: 12px; margin-left: 76px;}
  .icon_chuc_nang{top: unset;display: flex; margin-right: 8px; bottom: 0; margin-bottom: 14px;}
  .icon_chuc_nang_img {margin-left: 16px; margin-bottom: unset;}
  .abs_info_and_star_info{margin-bottom: 8px;margin-left: 8px;}
  .duy_pd_select{padding: 20px 24px;}
  .duy_container{padding: 24px 32px 48px;}
  .duy_images_sub-div {height: 338px;margin: 0 1.7% 24px 0;}
  .index_right.br_8.drop_sh.bg_white.w_386.duy_them_class10_1 {width: 32.2%;}
  .duy_scroll_select{overflow-x: scroll; width: 100%;position: relative;}
  .duy_pd_select{width: 1256px;}
  .duy_fig_mr_1{margin-right: 16px;}
  .duy_fig_pd_1{padding: 40px 24px 27px;}
  .duy_fig_mr_2{margin-top: 48px;}
  .duy_fig_mr_3{margin-top: 24px;}
}
@media (max-width:768px){
  .duy_them_1a .slick-prev{display: none!important;}
  .duy_them_1a .slick-next{display: none!important;}
  .dl_area_banner.bg_x.pd_tb_48{padding: 32px 0 24px;}
  .dl_areas_list.mt_32{margin-top: 24px;}
  .ctti_duy_2{padding: 0 24px;}
  h2.font_s24.font_w500.line_28.pd_lr_80.ctti_duy_2{font-size: 20px;}
  h2.font_s22.line_h25.font_w500{font-size: 20px;}
  .box_controll.d_flex.mt_24{margin-top: 16px;padding: 12px 24px; display: block;}
  .ctti_duy_22_768{padding-left: unset !important;}
  .infor_name, .infor_rs {font-size: 14px;}
  .ctti_duy_3{padding: 32px 24px;}
  .skill_bottom-left.w_60.h_513.ctti_duy_5 {height: 325px;}
  .ctti_duy_11{display: block;}
  .ctti_duy_23_768{color: #FFF; margin-bottom: 24px;}
  .link_list-item .ctti_duy_23_768::after{background: #FFF !important;}
  .ctti_duy_12{background: unset; margin-right: unset;}
  .link_list.pd_lr_16.mt_24.d_flex{background: #3691d9;}
  .ctti_duy_24_768{color: #FFF; font-size: 18px;}
  .ctti_duy_25_768{width: 100%;}
  .ctti_duy_12{height: fit-content;}
  .flex_1.d_flex.center_center, .d_flex.flex_column.align_c.w_100{align-items: unset;}
  span.name.font_s16.line_h22.font_w500, span.way.font_s14.line_h20.font_w400{color: #FFF;}
  .ctti_duy_19_768 {display: block;}
  .ctti_duy_20_768, .ctti_duy_21_768{width: 100%;}
  .ctti_duy_20_768{margin-bottom: 32px;}
  .ctti_duy_13{padding: 32px 24px;}
  .ctti_duy_26_768{font-size: 18px;}
  .ctti_duy_27_768{padding-right: 46px !important;}
  .ctti_duy_14{padding: 32px 24px 29px;}
  .ctti_duy_16{overflow-x: scroll;}
  .ctti_duy_17{width: 980px;}
  .ctti_duy_15{padding: 32px 24px;}

  /* BẤT ĐỘNG SẢN GẦN ĐÂY */
  .duy_them_00{display: block;}
  .duy_them_0a{width: 100%;}
  .container .duy_them_1b{width: 100%;}
  .map_import{height: 495px;}
  .content .duy_them_1d {display: flex;}
  .duy_them_2a{display: flex; flex-wrap: wrap; justify-content: space-between;}
  .duy_them_2a .duy_them_2b{width: 49.44%;}
  .recent_item .duy_them_1c{width: 97%;height: 97px;}
  .duy_them_2c .elipsis1{-webkit-line-clamp:unset;}
  .recent_item .content{padding: 0 7px 0 8px !important;}
  .duy_link_footer{display: block;}
  .duy_them_1b{margin-bottom: 48px; padding: 0 24px;}
  
  /* DANH SÁCH PHÒNG ĐẸP */
  .duy_container{padding: 24px 24px 64px;}
  h2.villa_heading_h2.duy_mb8px{font-size: 20px;line-height: 26px;}
  .villa_heading.duy_mb24px{margin-bottom: 29px;}
  .duy_images_sub-div{width: 48.62%;margin: 0 2.7% 16px 0; height: 305px;}
  .abs_info_and_star_info_text{font-size: 14px;}
  .duy_fig_mr_3{margin-top: 16px;}
  .duy_fig_mr_2{margin-top: 64px;}
} 
@media (max-width:480px){
  .w410_313.mt_44.position_r.ctti_duy_1{display: none;}
  .dl_area_banner.bg_x.pd_tb_48{padding: 24px 0;}
  .ctti_duy_2{padding: 0 36px;font-size: 16px;}
  h2.font_s22.line_h25.font_w500{font-size: 16px; line-height: 18px;}
  .box_controll.d_flex.mt_24{padding: 32px 0 24px;}
  .ctti_duy_28_375 {display: block;padding-right: unset !important; padding: 0 24px;}
  .ctti_duy_28_375 .d_flex{width: 100%; margin-bottom: 24px;}
  .ctti_duy_28_375 .d_flex:last-child{margin-bottom: unset;}
  li.it_jb_bt.chart.col_3.d_flex.flex_column.align_c{width: 50%; margin: 32px 0 0 0;}
  .ctti_duy_22_768 ul.d_flex.row_3{flex-wrap: wrap; justify-content: center;}
  .ctti_duy_3{padding: 24px 16px;}
  .skill_bottom-left.w_60.h_513.ctti_duy_5{height: 155px;}
  .ctti_duy_29_375 .icon{width: 14px; height: 14px;}
  .link_list.pd_lr_16.mt_24.d_flex{margin-top: 16px; display: block;}
  .link_list-item.ctti_duy_12.pd_19_16.h_600.w_33.d_flex.flex_column {width: 100%;}
  .ctti_duy_26_768{font-size: 16px; padding: 0 8px 0 16px;}
  .ctti_duy_13{padding: 32px 0;}
  .ctti_duy_20_768{padding: 0 16px;}
  .ctti_duy_27_768{padding-right: unset !important;}
  h2.font_s22.line_h24.font_w500{font-size: 16px;}
  .ctti_duy_14{padding: 32px 16px;}
  .list_btn_duy_scroll{overflow-x: scroll;}
  .list_btn_duy_scroll_width{width: 440px;margin-top: 16px;}
  .list_btn_duy_scroll_width2{display: block;}
  .row.d_flex.flex_w .estate_item.flex_column.col_3{width: 100%;}
  .ctti_duy_15{padding: 24px 0 24px 16px;}
  .map_import{height: 241px;}
  .duy_them_2a{display: block;}
  .duy_them_2a .duy_them_2b{width: 100%;}
  .duy_them_1a .slick-prev{display: none !important;}
  .duy_them_1a .slick-next{display: none !important;}
  .duy_them_1b{padding: 8px 12px 0;}

  /* DANH SÁCH PHÒNG ĐẸP */
  .them_div_480_suv{display: block;}
  .duy_scroll_select{display: none}
  .duy_images_sub{display: block;}
  .duy_images_sub-div{width: 100%; height: 259px;}
  .duy_container{padding: 16px 16px 58px;}
  .duy_mb24px{margin-bottom: 16px;}
  .villa_heading.duy_mb24px{margin: 16px 0 24px;}
  .abs_info_and_star_info_text{display: none;}
  .duy_fig_mr_3, .duy_fig_mr_2{margin-top: 32px;}
  .index_infor.mt_64.d_flex.align_s.duy_fig_mr_2{position: relative;}
  .index_right.br_8.drop_sh.bg_white.w_386.duy_them_class10_1 {width: 70%;position: absolute;top: 0;right: 0; display: none;}
  .duy_fig_mr_1{margin-right: unset;}
  .duy_fig_pd_1 p.black_md.duy_them_class7, p.mt_6.mb_6.blue_title.duy_them_class7{font-size: 14px;}
  .duy_them_class1_file_new{display: flex !important; justify-content: flex-end; margin-bottom: 16px;}
  span.font_s18.line_h21.font_w500.duy_them_class12{font-size: 16px;}
  .duy_fig_pd_1{padding: 8px 16px;}
  .duy_block{display: block !important;}





  /* LỌC */
  .loc_480_1 {padding: 10px 8px;background: #FFF;border-radius: 8px;border: 1px solid #999;width: 86px;height: 40px; justify-content: center; align-items: center; margin-right: 8px;}
  .loc_480_1_img {width: 20px;height: 20px;margin-right: 8px;}
  .loc_480_1_text {color: #999;}
  .loc_480_2 {width: 55.7%;}
  .loc_480_2 .select2-container--default .select2-selection--single{background: #FFF;}
  .loc_480_2 .select2-container .select2-selection--single .select2-selection__rendered{color: #999;}
  /* POPUP LỌC KẾT QUẢ MÀN 480 */
  .popup_locketqua{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 1000;}
  .popup_locketqua_padding{height: 100%;}
  .popup_locketqua_heading{background: #FFF;padding: 15px 16px;}
  .popup_locketqua_heading1{font-weight: 500;}
  .popup_locketqua_heading2{font-size: 14px;}
  .popup_locketqua_content{padding: 24px 16px;background: #F7F8FC; height: 100%;}
  .popup_locketqua_content_select{width: 100%; margin-bottom: 8px;}
  .popup_locketqua_content_select .selection{font-size: 14px;}
  .popup_locketqua_content_select .select2-container--default .select2-selection--single{height: 40px;}
  .popup_locketqua_content_btn{width: 223px;height: 40px;background: #3691D9;font-size: 14px;font-weight: 500;color: #FFF;display: flex;justify-content: center;align-items: center;border-radius: 8px;margin: 32px auto 0;border: none;}

} 