@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Regular.woff2);
  font-display: swap;
}
/* ĐẬM 500 */
@font-face {
  font-family: Roboto-medium;
  src: url(../font/Roboto-Medium.ttf);
  font-display: swap;
}

/* ĐẬM 700 */
@font-face {
  font-family: Roboto-bold;
  src: url(../font/Roboto-Bold.ttf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* img {
  width: 100%;
  height: 100%;
} */
.header_content_khung_search .input{width:unset}
.block {display: block !important}
.c-pointer{cursor:pointer}
.c-default{cursor:default}
.flex {display: flex}
.overflow-hidden {overflow: hidden}
.center-center {align-items: center;justify-content: center}
.center-height {align-items: center !important}
.center-width {justify-content: center}
.space {justify-content: space-between}
.right {text-align: right}
.wrap {flex-wrap: wrap}
.no-wrap {flex-wrap: nowrap}
.ko-gachchan {text-decoration: none}
body {font-family: Roboto;background: #fff}
.w15-h12 {width: 15px;height: 12px;display: flex;align-items: center;justify-content: center}
.w15-h12 img {object-fit: contain}
.w12-h12 {width: 12px;height: 12px;display: flex;align-items: center;justify-content: center}
.w9-h9 img {object-fit: cover}
/* THUỘC TÍNH ẢNH */

.bg-cover {background-size: cover}
.bg-contain {background-size: contain}
.obj-cover {object-fit: cover}
.obj-contain {object-fit: contain}
.bg-xam {background-color: #eeeeee !important}

iframe{height: 100%;border: 0;width: 100%;border-radius: 7px;}
/* Size */
.size-12{font-size:12px}
.size-14{font-size:14px;}
.size-15{font-size:15px;}
.size-16 {font-size:16px;}
.size-18{font-size:18px;}
.size-20{font-size:20px;}
.size-22{font-size:22px;}
.size-24{font-size:24px}
.size-28{font-size:28px;}
.size-40{font-size:40px;}
.font-bold{font-family:Roboto-bold;}
.w-100pt{width:100%;}
.w-h-16{width:16px;height:16px;}
/* KHÁC */
.br-5 {border-radius: 5px}
.br-10 {border-radius: 10px}
.left-85 {margin-left: 85px}
.left-10 {margin-left: 10px}
.left-15 {margin-left: 15px}
.left-5 {margin-left: 5px}
.left-22{margin-left:22px}
.left-30 {margin-left:30px;}
.left-50{margin-left:50px}
.right-44{margin-right:44px}
.right-35{margin-right:35px}
.right-15{margin-right:15px}
.right-10{margin-right:10px}
.right-20{margin-right:20px}
.right-16{margin-right:16px}
.right-5{margin-right:5px}
.right-9{margin-right:9px}
.right-8{margin-right:8px}
.right-3{margin-right:3px}
.right-24{margin-right:24px}
.right-20{margin-right:20px;}
.right-22{margin-right:22px}
.bot-5{margin-bottom:5px;}
.bot-10{margin-bottom:10px;}
.bot-16{margin-bottom:16px}
.bot-20{margin-bottom: 20px;}
.bot-24{margin-bottom:24px;}
.top-21{margin-top:21px}
.top-19{margin-top:19px}
.top-20 {margin-top:20px}
.top-29{margin-top:29px}
.top-25{margin-top:25px}
.top-30{margin-top:30px}
.top-32{margin-top:32px}
.top-44{margin-top:44px}
.top-40{margin-top:40px}
.top-24{margin-top:24px}
.top-10{margin-top:10px}
.top-15{margin-top:15px}
.top-16{margin-top:16px}
.top-8{margin-top:8px}
.top-4{margin-top:4px}
.top-5{margin-top:5px}
.top-3{margin-top:3px}

/* THÊM MỚI */
.gachchan{text-decoration:underline !important;}
.chutrang{color:#ffffff}
.chuden{color:#474747 !important;}
.chuxanh{color:#3691D9}
.chuxanhdam{color:#2a38a2 !important}
.textdo{color:#EB5155}
.chudo{color:#ed6265}
.chucam{color:#ff7f50}
.chuvang{color:#FFA317}
.elipsis2 {overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical}
.elipsis1 {overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 1;display: -webkit-box;-webkit-box-orient: vertical}
.elipsis3 {overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical}
.elipsis4 {overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 4;display: -webkit-box;-webkit-box-orient: vertical}
.elipsis7 {overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 7;display: -webkit-box;-webkit-box-orient: vertical}
.elipsis5 {overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 5;display: -webkit-box;-webkit-box-orient: vertical}

.popup,
.popup_xacnhan {position: fixed;display: flex;align-items: center;justify-content: center;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);z-index: 300;}

#popup_dangxuat .table {width: 360px;height: 206px;overflow: hidden}
#popup_dangxuat .table .top {width: 100%;height: 50px}
#popup_dangxuat .table .body {width: 100%;height: 156px;background-color: #fff;padding-top: 40px}
#popup_dangxuat .table .body .khoichon .button {width: 140px;height: 36px;font-size: 16px;text-decoration: none;display: flex;align-items: center;justify-content: center;margin: 0 13px 20px 0;cursor: pointer}
#popup_dangxuat .table .body .khoichon {width: 100%}
#popup_dangxuat .table .body .tieude {text-align: center;margin: 0px 0 40px 0}
.height-20{line-height:20px}
/* 
KHỐI FORM */
input[type="number"],
input[type="date"],
select,
input[type="text"],
input[type="time"],textarea {width: 100%;height: 100%;border: none;outline: none;font-family: Roboto, sans-serif;font-size: 16px;color: #999999}
input[type="date"] {background: url("../images/lich.png");background-repeat: no-repeat;background-size: 24px 24px;background-position: right}
input[type="time"] {background: url("../images/clock.png");background-repeat: no-repeat;background-size: 24px 24px;background-position: right}
[type="date"]::-webkit-inner-spin-button{display:none}
[type="date"]::-webkit-calendar-picker-indicator{opacity:0}
input[type=time]::-webkit-inner-spin-button{display:none}
[type="time"]::-webkit-calendar-picker-indicator{opacity:0}
input[type=radio]{width:22px;height:22px}

textarea {resize:none;}
.khunginput {background:#ffffff;border:1px solid #999999;padding:0 16px;box-sizing:border-box;border-radius:8px;height:40px}
.khungtext {background:#ffffff;border:1px solid #999999;box-sizing:border-box;border-radius:8px;height:129px;}
.khungtext textarea {padding:10px 16px;border-radius:8px;}
/* .khungselect{border:1px solid #999999;border-radius:8px;background:#ffffff;height:40px} */
/* .khoiselect{border:unset;border-radius:8px;background:#ffffff;height:40px} */
.right-position-0{right:0}
.right-position-10{right:10px;}
.right-position-15{right:15px;}
.right-position-20{right:20px;}
.opacity-5{opacity:0.5;}
.font-normal{font-family:Roboto !important;}
.text-left {text-align:left !important}
.text-right{text-align:right !important}
.space-around{justify-content:space-around !important;}
.w50pt{width:50%}
/* .text-center{text-align:center !important} */
.p-20{padding:20px}
.p-t-10{padding-top:10px}
.text_area_72 .khungtext textarea{height:72px}
.text_area_108 .khungtext textarea{height:108px}
.text_area_180 .khungtext textarea{height:180px}
.text_area_187 .khungtext textarea{height:187px}
.tab_w_500 .bangnhap{width:500px}
label.error {width: 100%;word-wrap: break-word;bottom: -50px;position: absolute;font-size: 14px;padding: 10px 15px;color: red;border-radius: 10px;left: 0;z-index: 300;text-align: center}
form .khungtext,
form .khunginput {position: relative}
  
.checked{width:unset;height:unset}
.link_trang {padding:146px 80px 64px}
.backgroung_chinh{background:#F4F5FC;}
.khung_thongtin{background:#ffffff;border-radius:8px;padding:24px 32px}
.font-medium{font-family: 'Roboto', sans-serif;font-weight: 500;}
.thongtin_noidung{padding:0 22px;}
.thongtin_noidung .khoitren .khoitrai{width:44%}
.thongtin_noidung .khoitren .khoiphai{width:51.08%}
.select2-container .select2-selection--single{height: 40px !important;}
.select2-container--default .select2-selection--single{border-radius:8px}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 36px;color:#999999;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height:26px !important;position:absolute;top:5px !important;right:1px !important;width:36px !important;}
.khoi-map{background:#999999;width:100%;height:490px;border-radius:8px}
.add_anhbia{position:relative;border:1px solid #cccccc;height:auto;border-radius:8px;}
.butt_themanh{position:absolute;top:0;right:0;left:0;bottom:0;margin:auto;width:591px;height:44px;background:#ffffff;box-sizing:border-box;border:1px solid #3691D9;border-radius:8px;}
.wh-40{width:40px;height:40px}
.wh-24{width:24px;height:24px}
.wh-20{width:20px;height:20px}
.wh-30{width:30px;height:30px}
.wh-18{width:18px;height:18px}
.post_anh{width:100%;height:100%;border-radius:8px;display:block}

.chudautu{padding:32px;background:#ffffff;border-radius:8px}
.chudautu_noidung{padding:0 22px}
.chudautu_noidung .khoitrai{width:44%}
.chudautu_noidung .khoiphai{width:51.08%}
.thongtinchitietduan{padding:24px 32px;background:#ffffff;border-radius:8px}
.thongtinchitietduan_noidung, .thongtinchitietduan .khoiduoi{padding:0 22px}
.thongtinchitietduan .khoitrai{width:44%}
.thongtinchitietduan .khoiphai{width:51.08%}
.khoinho .khoibe{width:48.48%}
.khoigia{font-size:12px;height:14px;margin-top:6px;color:#999999}
.flex-end{display:flex;justify-content:end}
.relative{position:relative}
.absolute{position:absolute}
.khoi_add_mbda{cursor: pointer;}
.thongtinchitietduan .khoiduoi .khoi_mota{border-radius:8px;border:1px solid #999999;height:auto}
.thongtinchitietduan .khoiduoi .khoi_mota textarea{border-radius: 8px;padding:10px 16px;height:191px}
.thongtinctda_khoianh, .vitriduan_khoianh{overflow:hidden}
.anh_mota{width:100%;height:100%;border-radius:8px;display:block}
.type_mota{width:40px;height:80px;border-radius:8px;box-shadow:1px 2px 10px rgba(32, 32, 32, 0.1);padding:8px;top:0;left:-31px}
.active_mota svg path{stroke:#3691D9}
.des_text, .vtda_destext, .mbda_destext, .tida_destext, .gtda_destext, .ttbd_des_text{margin-bottom:12px}
.vitriduan{border-radius:8px;background:#ffffff;padding:24px 32px}
.vtda_ghichu{text-align:end;}
.vitriduan_mota{padding:0 22px;}
.vitriduan_mota .khoi_mota{border-radius:8px;border:1px solid #999999;height:auto}
.vitriduan_mota .khoi_mota textarea{border-radius:8px;padding:10px 16px;height:191px}
.vtda_post_anh{width:100%;height:100%;border-radius:8px;display:block}
.matbangduan{background:#ffffff;border-radius:8px;padding:24px 32px}
.mbda_noidung{padding:0 22px}
.mbda_khoi_anh{border-radius:8px}
.thongtinctda_khoibutton, .vitriduan_khoibutton, .mbda_khoibutton, .tida_khoibutton, .gtda_khoibutton, .tdnd_khoi_button{right:16px;bottom:25.5px}
.thongtinctda_tieude_anh, .vitriduan_tieude_anh, .mbda_tieude_anh, .tida_tieude_anh, .gtda_tieude_anh, .tdnd_tieude_anh{background:#ffffff;border-radius:8px;width:144px;height:42px;border:unset;font-size:16px;color:#474747;margin-right:33px}
.khoi_mota_img,.gtda_khoi_tieude{border:1px solid #999999;border-radius:8px;height:44px}
.khoi_mota_img input,.gtda_khoi_tieude input {border-radius:8px;padding:12.5px 16px}
.thongtinctda_remove_tieudeanh, .vtda_remove_tieudeanh{right:32px;top:12px}
.mbda_khoi_anh .mbda_post_anh{width:100%;border-radius:8px}
.mbda_add_anh{width:591px;height:44px;border:1px solid #3691D9;border-radius:8px;background:#ffffff;top:0;right:0;left:0;bottom:0;margin:auto}
.mbda_text-or-img{border:1px solid #999999;border-radius:8px;height:auto}
.mbda_text-or-img textarea{border-radius:8px;padding:10px 16px;height:191px}
.mbda_post_anh_mota{width:100%;height:100%;border-radius:8px;display:block}
.mbda_khoi_mota{padding:0 22px}
.mbda_khoianh{overflow:hidden}
.mbda_khoi_tieude{border:1px solid #999999;border-radius:8px;height:44px;margin:8px 22px;padding:0 16px}
.mbda_khoi_tieude input{border-radius:8px;border:none}
.mbda_tieude_remove,.gtda_tieude_remove{right:32px;top:12px}
.tienichduan{background:#ffffff;border-radius:8px;padding:24px 32px}
.tida_thongtin_khoicon .noidung_con input{width:20px;height:20px}
.khoi-768{display:none}
.tdqp_click_addanh{opacity:0;position:absolute;height:100%;width:100%;}
.tida_khoito{margin-right:45px;width:21.45%}
.tida_khoito:last-child{margin:unset}
.tida_text_or_img{margin:29px 22px;border:1px solid #999999;border-radius:8px;height:auto}
.tida_text_or_img textarea{padding:10px 16px;border-radius:8px}
.tida_khoianh{overflow:hidden;}
.tida_post_anh{width:100%;height:100%;border-radius:8px;display:block}
.tida_khoi_tieude{border:1px solid #999999;border-radius:8px;height:44px;margin:8px 22px;padding:0 16px}
.tida_khoi_tieude input{border-radius:8px;border:none}
.tida_tieude_remove{right:32px;top:12px}
.gioithieuduan{border-radius:8px;background:#ffffff;padding:29px 54px}
.add_gioithieuduan{border-radius:8px;background:#ffffff;padding:32px 32px}
.gtda_button_mota .type_mota{left:-55px}
.gtda_text_or_img{margin-top:24px;border:1px solid #999999;border-radius:8px;height:auto}
.gtda_text_or_img textarea{padding:10px 16px;border-radius:8px}
.gtda_khoianh{overflow:hidden}
.gtda_post_anh{width:100%;height:100%;border-radius:8px;display:block}
.butt_dangtin{width:295px;height:40px;margin:32px auto}
.butt_dangtin .butt_xanh{background:#3691D9;color:#ffffff;width:182px;height:40px;border:1px solid #3691D9; border-radius:8px}
.butt_dangtin .chon{background:#ffffff;color:#999999;width:97px;height:40px;border:1px solid #999999;border-radius:8px}
.butt_dangtin .popup_con{width:230px;height:40px;background:#ffffff;border-radius:8px;padding:0 12px;border:1px solid #999999;top:-50px;right:0}
.popup .table{position:relative;border-radius:8px}
#popup_lenlich .table{width:650px}
.overflow-hidden{overflow:hidden}
.lenlich_noidung{background:#ffffff;padding:24px 40px 32px}
.lenlich_input .khunginput{width:48%;height:40px;border:1px solid #999999;border-radius:8px}
.lenlich_noidung .khoi_butt button{width:174px;height:40px;border:1px solid #3691D9;border-radius:8px}
.lenlich_noidung .khoi_butt .butt_huy{background:#ffffff;color:#3691D9}
.lenlich_noidung .khoi_butt .butt_luu{background:#3691D9;color:#ffffff}

.butt_henlich{width:295px;height:40px;margin:32px auto}
.butt_henlich .butt_xanh{background:#3691D9;color:#ffffff;width:182px;height:40px;border:1px solid #3691D9; border-radius:8px}
.butt_henlich .chon_henlich{background:#ffffff;color:#999999;width:97px;height:40px;border:1px solid #999999;border-radius:8px}
.butt_henlich .henlich_popup_con{width:230px;background:#ffffff;border-radius:8px;border:1px solid #999999;top:-90px;right:0}
.doithoigian{height:40px;padding:0 12px;border-radius:8px 8px 0 0}
.dangngay{height:40px;padding:0 12px;border-radius:0 0 8px 8px}
.background_xam{background:#f4eded}
#popup_thongtin .table{width:446px;height:516px;overflow-y:scroll}
.hoantatthongtin_noidung{background:#ffffff;padding:16px;position:relative}
.back_butt{top:16px;left:16px}
.khoithongtin{padding:0 32px 16px}
.butt_hoantat{width:100%;height:40px;background:#3691D9;color:#ffffff;border:1px solid #3691D9;border-radius:8px;margin-top:32px}
#popup_thongtin .table::-webkit-scrollbar{width:10px}
#popup_thongtin .table::-webkit-scrollbar-thumb{background:#999999;border-radius:10px}

#popup_otp .table{width:446px}
.otp_noidung{background:#ffffff;padding:32px 43px;position:relative}
.nhap_otp input{width:40px;height:40px;border:1px solid #cccccc;border-radius:4px;background:#efefef;text-align:center}
.butt_xacthuc_otp{background:#3691D9;color:#ffffff;width:350px;height:40px;border:1px solid #3691D9;border-radius:8px;margin:24px auto 0}

#popup_thanhcong .table{width:343px}
.thanhcong_noidung{background:#ffffff;padding:24px 32px 32px}
.img_successful{width:210px;height:208px;margin:8px auto 0}
.butt_thanhcong{width:100%;height:40px;background:#3691D9;color:#ffffff;border:1px solid #3691D9; border-radius:8px}

#popup_error .table{width:343px}
.error_noidung{background:#ffffff;padding:32px 19px}
.img_error img{width:70px;height:70px}
.error_butt button{width:140px;height:40px}
.error_huy{background:#ffffff;color:#474747;border:1px solid #474747;border-radius:8px}
.error_dangnhap{background:#3691D9;color:#ffffff;border:1px solid #3691D9;border-radius:8px}

.gioithieu_tindang{background:#ffffff;border-radius:8px;box-shadow:1px 2px 10px rgba(32, 32, 32, 0.1);padding:32px}

.tutorial{background:#ffffff;padding:24px 32px;border-radius:8px}
.tutorial_tieude .tieude_tren{line-height:24px}
.tutorial_tieude .tieude_duoi{line-height:14px}
.arrow_rotate{
  transform: rotate(-180deg);
  transition: .5s;
}
.arrow_rotate_reset{
  transform: rotate(0deg);
  transition: .5s;
}

.tutorial .khoiduoi{padding:0 52px}
.tutorial .khoiduoi .tieude{line-height:24px}
.tutorial .khoiduoi ul{margin-left:20px}
.tutorial .khoiduoi li{list-style-type:disc}

.thongtinbaidang{background:#ffffff;border-radius:8px;padding:24px 32px}
.ttbd_noidung{padding:0 22px}
.ttbd_noidung .khoicon{width:47.07%}
.ttbd_noidung .khoicon .khoibe{width:48.17%}
.ngansach_gia{color:#999999;right:0;bottom:-20px}
.khoanggia{width:100%;height:40px;background:#ffffff;border:1px solid #3691D9;border-radius:8px;color:#3691D9}
.del_icon{right:11px;top:11px}
.khoi_phongngu div{display:flex;align-items:center;justify-content:center;width:40px;height:40px;border-radius:20px;color:#474747;border:1px solid #999999;font-size:16px;background:#ffffff;font-family:'Roboto', sans-serif;font-weight:500;margin-right:24px}
.khoi_phongngu button:last-child{margin:unset}
.mausac button,.chonmau div{width:20px;height:20px;border-radius:50%}
.chonmau input{display:none}
.img_success{position:absolute;top: 2px;left:2px;height:80%;width: 80%;object-fit: contain;display:none}
.mausac .den{background:#000000;border:1px solid #000000}
.mausac .trang{background:#FFFFFF;border:1px solid #999999}
.mausac .do{background:#E00000;border:1px solid #E00000}
.mausac .cam{background:#F29200;border:1px solid #F29200}
.mausac .vang{background:#FEEF04;border:1px solid #FEEF04}
.mausac .hong{background:#FFC0DA;border:1px solid #FFC0DA}
.mausac .xanhluc{background:#24B202;border:1px solid #24B202}
.mausac .xamxanh{background:#BAC8D3;border:1px solid #BAC8D3}
.mausac .xanhmint{background:#00CFC4;border:1px solid #00CFC4}
.mausac .xanhduong{background:#3E47FF;border:1px solid #3E47FF}
.mausac .xanhden{background:#090069;border:1px solid #090069}
.mausac .tim{background:#C900EA;border:1px solid #C900EA}
.mausac .xam{background:#9D9D9D;border:1px solid #9D9D9D}
.mausac .be{background:#EFD6AA;border:1px solid #EFD6AA}
.mausac .nau{background:#8E5B0D;border:1px solid #8E5B0D}
.mausac .luu_y{color:#999999;bottom:-26px}

.loai_anh{margin-top:59px;padding:0 22px}
.ttbd_tieude{margin:32px 22px 0}
.ttbd_themanh{border:1px solid #cccccc;border-radius:8px;margin:16px 22px}
.ttbd_themanh .ttbd_post_anh{width:100%;height:100%;border-radius:8px;display:block}
.ttbd_butt_anh{width:591px;height:44px;border:1px solid #3691D9;border-radius:8px;background:#ffffff;top:0;right:0;bottom:0;left:0;margin:auto}
.ttbd_mota{margin:24px 22px}
.ttbd_mota textarea{padding:10px 16px;border-radius:8px;height:300px}
.ttbd_type_mota{width:40px;height:80px;border-radius:8px;box-shadow:1px 2px 10px rgba(32, 32, 32, 0.1);padding:8px;top:0;left:-55px}
.tdnd_des_text_or_img{border:1px solid #999999;border-radius:8px;height:auto}
.tdnd_des_img{overflow:hidden}
.tdnd_post_anh{width:100%;height:100%;border-radius:8px;display:block}
.tdnd_khoibutt{width:182px;margin:32px auto 0}
.tdnd_butt_dangtin{width:182px;height:40px;border-radius:8px;border:1px solid #3691D9;background:#3691D9;color:#ffffff}
.doantext_duoi{background:#ffffff;border-radius:8px;box-shadow:1px 2px 10px rgba(32, 32, 32, 0.1);padding:32px;}
.tdnd_mieuta_anh{border:1px solid #999999;border-radius:8px;height:44px;padding:0 16px;margin:8px 22px}
.chontag{width:537px;margin-left:22px}
.tdnd_tieude_remove{top:12px;right:32px}
.ttpd_tieude{margin:56px 22px 0}
.tdpd_chontag{width:537px}

.tdpd_addanh{background:#ffffff;border-radius:8px;padding:24px 54px 22px}
.tdpd_anh{width:48.89%;height:310px}
.tdpd_addanh .anh_add{width:100%;height:100%}
.tdpd_thongtin{width:48.89%}
.khoi_text{height:249px;overflow:hidden;border:1px solid #999999;border-radius:8px}
.khoi_text textarea{padding:10px;border-radius:8px}
.khoi_text textarea::placeholder{font-size:16px;color:#474747}
.khoi_text textarea{font-size:16px;color:#474747}
.tdpd_thongtin .select2-container--default .select2-selection--single .select2-selection__rendered{color:#474747}

.khoi_butt_addanh{border:1px solid #999999;border-radius:8px;width:48.89%;height:310px}
.butt_addanh{width:320px;height:44px;background:#ffffff;border: 1px solid #3691D9;border-radius:8px;top:0;bottom:0;right:0;left:0;margin:auto}
.th2{margin-right:44px}

.border-375{display:none}
.khoi_add_mbda{align-items:center}
.click_gioithieuduan{align-items:center}
.tida_click svg{display:none}


@media (min-width: 1520px){
  .thongtin_noidung .khoitren .khoitrai{width:38.58%}
  .thongtin_noidung .khoitren .khoiphai{width:57.11%}
  /* .chudautu_noidung .khoitrai{width:610px}
  .chudautu_noidung .khoiphai{width:614px} */
  
  .ttbd_noidung .khoicon{width:49.13%}
  .ttbd_noidung .khoicon:nth-child(even){width:48.97%}
  .ttbd_noidung .khoicon .khoibe:first-child{width:52.04%}
  .ttbd_noidung .khoicon .khoibe:last-child{width:43.23%}
}
@media (max-width: 1024px){
  .link_trang{padding:86px 32px 64px}
  .ttbd_noidung{padding:unset}
  .ttbd_noidung .khoicon{width:49.11%}
  .ttpd_tieude{margin:64px 0 0}
}
@media (max-width: 768px){
  .link_trang{padding:26px}
  .thongtin_noidung{padding:unset}
  .thongtin_noidung .khoitren .khoitrai, .thongtin_noidung .khoitren .khoiphai, .thongtinchitietduan_noidung .khoitrai, .thongtinchitietduan_noidung .khoiphai, .chudautu_noidung .khoitrai, .chudautu_noidung .khoiphai{width:49.1%}
  .chudautu_noidung{padding:unset}
  .thongtinchitietduan_noidung{padding:unset}
  .thongtinchitietduan_noidung .khoiphai .khoinho .khoibe:first-child{width:51.55%}
  .thongtinchitietduan_noidung .khoiphai .khoinho .khoibe:last-child{width:43.43%}
  .tida_khoito{margin-right:6px;width:218px}
  .tida_thongtin_khoicon .noidung_con{font-size:14px}
  .khoi-768{display:block}
  .not-768{display:none}
  .mbda_noidung{padding:unset}
  .butt_themanh, .mbda_add_anh, .ttbd_butt_anh{width:83%}

  .ttbd_noidung{padding:unset}
  .ttbd_noidung .khoicon{width:49.08%}

  .chonmau{width:85%;flex-wrap:wrap;justify-content:unset}
  .chonmau label{margin:0 13px 16px 0}

  .ttbd_noidung .khoicon:nth-child(10){display:unset}
  .ttbd_noidung .khoicon:nth-child(10) .khoibe{width:100%}
  .ttbd_noidung .khoicon:nth-child(10) .khoibe:last-child p{display:none}
  .loai_anh{padding:unset}
  .ttbd_khoi2{margin-top:16px}
  .ttbd_tieude{margin:32px 0 0}
  .ttbd_themanh{margin:19px 0 0}
  .chontag{width:320px}

  .th2{margin-right:24px}
  
  .ttpd_tieude{margin:40px 0 0}

  .butt_addanh{width:247px}

  .tdpd_addanh{padding:24px 32px}
  .khoi_butt_addanh{width:320px;height:184px}
  
  .tdpd_chontag{width:75%}
}
@media (max-width: 480px){
  .backgroung_chinh{margin-top:60px}
  .link_trang{padding:18px 16px}
  .tutorial{padding:8px 16px}
  .tutorial_tieude .tieude_tren{font-size:14px}
  .tutorial_trai img{margin-right:8px}
  .tutorial .khoiduoi{padding:0 16px}
  .thongtinbaidang{background:unset;padding:unset}
  .ttbd_noidung{display:unset}
  .ttbd_noidung .khoicon{width:100%}
  .chonmau{width:100%}
  .chonmau label{margin:0 20px 16px 0}
  
  .tdpd_addanh{background:unset;padding:unset}
  .khoi_butt_addanh{width:100%;margin-top:24px}

  .ttpd_tieude{margin:48px 0 0}

  .tdpd_chontag{width:100%}
  .dontlook{color:#F4F5FC}

  .khoi_add_anh{display:unset}
  .tdpd_anh{width:100%}
  .tdpd_thongtin{width:100%;margin-top:16px}

  .ttbd_butt_anh{width:98.04%}
  .thongtinbaidang .chontag{margin:unset;width:100%}
  .tdnd_mieuta_anh{background:#ffffff}
  .ttbd_noidung .mausac{margin-bottom:59px}

  .ttbd_mota{margin:72px 0 24px;height:100px}
  .ttbd_mota textarea{height:100px}
  .ttbd_type_mota{display:flex;width:80px;height:40px;left:0;top:-48px}
  .ttbd_des_text{margin-bottom:0;margin-right:16px}
  .title{font-size:14px;}

  .thongtin_noidung{margin-top:13px}
  .thongtin_noidung .khoitren{flex-direction:column-reverse}
  .thongtin_noidung .khoitren .khoitrai{width:100%}
  .thongtin_noidung .khoitren .khoiphai{width:100%}
  .butt_themanh, .mbda_add_anh{width:98.04%}

  .khung_thongtin{padding:unset;background:unset;border-radius:unset}
  .khoi-map{margin-top:unset}

  .chudautu{background:unset;padding:unset;border-radius:unset}
  .border-375{display:block;margin:30px 8px 0;border-top:1px solid #cccccc}
  .chudautu_noidung{display:unset}
  .chudautu_noidung .khoitrai{width:100%}
  .chudautu_noidung .khoiphai{width:100%}

  .thongtinchitietduan{background:unset;padding:unset;border-radius:unset}
  .thongtinchitietduan_noidung{display:unset}
  .thongtinchitietduan_noidung .khoitrai{width:100%}
  .thongtinchitietduan_noidung .khoiphai{width:100%}
  
  .thongtinchitietduan .khoiduoi{margin-top:72px;padding:0}
  .type_mota{display:flex;width:80px;height:40px;left:0;top:-48px}
  .des_text{margin-bottom:0;margin-right:16px}

  .vitriduan{background:unset;padding:unset;border-radius:unset}
  .vtda_ghichu{text-align:unset;margin-top:16px}
  .vitriduan_khoimota{margin-top:56px}
  .vitriduan_mota{padding:0}
  .vtda_destext{margin-bottom:0;margin-right:16px}

  .matbangduan{background:unset;padding:unset;border-radius:unset}
  .mbda_khoi_anh{border:1px solid #cccccc}
  .mbda_khoi_anh .mbda_post_anh{display:block}

  .mbda_khoi_mota{margin-top:72px;padding:unset}
  .khoi_add_mbda{margin-left:unset;margin-top:16px}
  .mbda_destext{margin-bottom:0;margin-right:16px}
  .mbda_text-or-img .mbda_text{display:block}

  .tienichduan{background:unset;padding:unset;border-radius:unset}
  .tida_khoi_thongtin{display:unset}
  .tida_khoito{width:100%}
  .tida_title{font-size:14px}
  .tida_click svg{display:block}

  .hidden_375{display:none}

  .tida_khoimota{margin-top:72px}
  .tida_text_or_img{margin:unset}
  .tida_destext{margin-bottom:0;margin-right:16px}
  .tida_text_or_img .tida_text{display:block}

  .gioithieuduan{background:unset;padding:unset;border-radius:unset}
  .gtda_khoimota{margin-top:72px}
  .gtda_button_mota .type_mota{left:0}
  .gtda_destext{margin-bottom:0;margin-right:16px}
  .add_gioithieuduan{padding:8px 24px}
  .gtda_text_or_img .gtda_text{display:block}
}
