.information_img {width: 150px; height: 150px; border-radius: 50%; flex-shrink: 0;}
.information_img img {width: 100%; height: 100%; border-radius: 50%;}
.information_personal > div > div > span {display: inline-block; font-size: 20px; line-height: 28px; font-weight: 400;color: #474747}
.information_personal > div > div > span:first-child {min-width: 181px;max-width: 250px; word-break: break-word;}
.information_personal > div > div > span + span {padding-left: 24px;}
.information_personal > div > div+div {margin-top: 8px}
.personals_searching > div + div {margin-left: 24px}
.search_ip {padding: 9px 10px 9px 16px}
.search_ip > button {height: 20px;}
.search_ip > input{background-color: transparent; outline: none; border: none;font-size: 14px; line-height:19px;font-weight: 400; flex: 1; padding-right: 4px;}
.search_ip > input::placeholder {color: #999999; line-height:19px; font-size:16px; font-weight:400;}
.search_ip > input:placeholder-shown {text-overflow: ellipsis;}
.select2-container--default .select2-selection--single {background-color: transparent;}
.select2-container--default .select2-selection--single .select2-selection__rendered {color: #999999}
.table_person .box_main_table_list {border: none;border-radius: 0;}
.table_person .box_main_table_list table.table{border-radius: 0;background-color: transparent;}
.table_person .box_main_table_list tbody tr:nth-child(odd) {background-color: #fff;}
.table_person table.table tbody tr td {height: 100%; padding: 16px 0px; text-align: left;}
.table_person table.table tbody {height: 100%; overflow: none;}
table.table thead tr th {text-align: left}
.cl_t_8 > span + span {margin-top: 8px; display: inline-block;}
.table_person .stt {min-width: 65px;width:65px; padding-left:16px !important;padding-right: 20px !important;}
.table_person .table.table thead tr th {padding: 11px 0 10px}
#header {padding: 0}
.khoi_header {padding-left: 15px;padding-right: 24px; box-shadow: 2px 2px 10px 0px #3691D926;}
.khoi_header2_div2_img2 {width: 40px; height: 40px; border-radius: 50%;}
.khoi_header2_div2_img2 > img {border-radius: 50%;}
#div_tong {background-color: #f7f8fc;}
.table_person table.table tbody tr td {font-size: 16px; line-height: 24px; font-weight: 400; color: #474747;}
.table_person table.table thead tr th {font-size: 16px; line-height: 19px; font-weight: 400}
.no_members {background-repeat: no-repeat; background-size: 100% 100%;height: 667px;position: relative}
.no_members::before {content: "";display: block;position: absolute;top: 0;left: 0; bottom:0; right: 0;background: linear-gradient(90.08deg, #F7F8FC 0.08%, rgba(255, 255, 255, 0) 99.94%);}
.no_members > div{padding: 10px 30px 108px; z-index: 2;}
.bt_add {padding: 9.5px 5px}
.drop_context {box-shadow: 1px 2px 10px 0px #2020201A;}
.w_338 {width: 338px;}
/* ----- */
.ipfzdf {font-size: 16px; line-height: 19px; font-weight: 400;color: #474747;}
.txtels::placeholder-shown {text-overflow: ellipsis;}
.ipfzdf::placeholder {color: #cccc}
.mn_w650 {width: 650px;}
.pd_lrb40_t24 {padding: 24px 40px 40px}
.popup {position: fixed; top: 0;left: 0;right: 0;bottom: 0;z-index: 99;background-color: rgb(51 51 51 / 10%);display: flex;justify-content:center;align-items:center;}
.popup_img > img{width: 100%; height: 100%; display: block;}
.main_popup {border-radius: 8px;}
input.rs_input::placeholder { color: #999999}
#popup_add_sussess {z-index: 999;}
.no_group {height: 100%;}
.money_ip > input {font-size:16px; line-height: 19px; font-weight:400; color: #6666}
.money_ip > input.rs_input::placeholder { color: #6666}
.staff_result_content > span + span {display: inline-block; margin-top: 8px}
.staff_result > div {margin-top: 32px}
.disableBtn {opacity: 0.5}
/* .acive_mnc1,.acive_mnc2 {background-color:#EAF3FB}
.acive_mnc1 > span {font-weight: 500;color: #3691D9} */
.acive_mnc2 > span {color: #3691D9}
.filter_item > .filter_item,.children_menu > div {margin-left: 16px; margin-top: 4px;}
.mn_w352 {min-width: 352px;}
.sr_btn {top: 50%; transform: translateY(-50%); right: 11px;}
input[disabled] {background-color: #efefef}
.select_controles {padding: 16px 24px}
.select_controles > div + div {margin-left: 24px}
.select2-container--default .select2-selection--single {height: 100%;border-radius: 8px;display: flex;align-items: center;}
.select2-container {height: 100%;}
.select2-container--default .select2-selection--single .select2-selection__arrow {top: 50%;transform: translateY(-50%);} 
.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #999 transparent transparent transparent;}
.obj_ct > img {object-fit: contain;}
.obj_none > img {object-fit: none;}
.content_list .right > div > span:first-child {margin-top: 9px}
.content_list .right > div > span {margin-top: 8px;display: block;}
.content_list .item_ct {margin-top: 16px}
.right_v {top: 8px; right: 8px;position: absolute}
.right {width: 27%;}
.left {width: 56%;}
.between {width: 17%;}
.left {padding-right: 46px;}
.between > div + div {margin-top: 8px}
.post {bottom: 0; left: 0;padding: 10px 27px; right: 0}
.header_nw > div {padding: 10px 16px 11px}
.ml_cl24 > div+div {margin-left: 24px;}
.active_mn {font-weight: 500; color: #3691D9; position: relative;}
.btnActive span::before {content:''; width: 0%;display: block; height: 2px; background-color: currentColor; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%)}
.fz15 .table.table tbody tr td {font-size: 15px}
.table_transaction .box_main_table_list:not(.activeTableView) {display: none;}
.btnActive span.active_mn::before {width: 80%; transition: width .4s ease}
.hover_blue:hover,.active_money,.list_btn-money > button:hover {background-color: #3691D9 !important; border-color: #FFFFFF;transition: all .4s ease; cursor: pointer;}
.hover_blue:hover span,.active_money span,.active_money ,.list_btn-money > button:hover {color: white;}
.conten_bank {padding: 22px 202px 32px}
.infor_bank .infor > div >div + div {margin-top: 16px;}
.img_bank {right: 0; transform: translateY(25%);margin-left: 78px; width: 82px; height: 30px}
.w82_h30 {width: 82px; height: 30px;}
.pd_5_16 {padding: 5px 16px}
.pd_11_24 {padding: 11px 24px}
.others:not(.active_money) ~ .input_numbers{display: none;}
.h_50 {height: 50px;}
.transaction > div:not(.activeViewTransaction) {display: none;}
.direct {padding: 32px 24px 49px}
.list_back > div:hover {background-color: #EFEFEF}
.this_bank {background-color: #FFA317; box-shadow: 1px 2px 10px 0px #2020201A;}
.bg_none {background-color: transparent !important;}
.message_copytied {position: absolute;background-color: #333333d6;color: white;top: calc(100% + 4px);left: 50%;padding: 3px 10px;font-size: 14px;line-height: 20px;border-radius: 8px;transform: translateX(-50%);white-space: nowrap;}
.filter_news {height: fit-content; }
/* :is(.acive_mnc1,.acive_mnc2) > div:first-child {background-color:#EAF3FB; transition: all .4s ease; transform-origin: left;}
:is(.acive_mnc1,.acive_mnc2) > div:first-child span {color: #3691D9 !important; font-weight: 500;}
:is(.acive_mnc2) > div:first-child span {color: #3691D9 !important; font-weight: 400;}
:is(.acive_mnc1,.acive_mnc2) > div:first-child path{stroke: #3691D9;} */
.filter_item >.children_menu .filter_item {margin-top: 4px;}
.filter_item + .filter_item {margin-top: 4px;}
.acive_mnc1 {background-color:#EAF3FB; transition: all .4s ease; transform-origin: left;}
.acive_mnc1 > span {color: #3691D9 !important; font-weight: 500;}
:is(.acive_mnc1,.acive_mnc2)  path{stroke: #3691D9;} 
.acive_mnc1 > div,.filter_item > div > div {transition: all .3s ease;}
.rotate_arrow {transform: rotate(-180deg);}
.filter_name > div {transition: all .3s ease;}
/* .children_menu {opacity: 0;visibility: hidden;transform: scale(1,0);height: 0;transition: all .4s ease-in-out; transform-origin: top;}
.children_show.children_menu {opacity: 1; visibility: visible;transform: scale(1,1); height: inherit;} */